{% if type == 'week-month' %}
  {% set weekTab %}
    <div
        class="opening-hours-wrapper"
        data-service="{{ serviceId }}"
        data-channels="{{ channels|join(',') }}"
        data-type="week-from-now"
    ></div>
  {% endset %}

  {% set monthTab %}
    <div
        class="opening-hours-wrapper"
        data-service="{{ serviceId }}"
        data-channels="{{ channels|join(',') }}"
        data-type="month"
    ></div>
  {% endset %}

  {% include '@tabs' with {
    tabs: [
      {
        label: 'This week',
        target: 'week',
        content: weekTab
      },
      {
        label: 'This month',
        target: 'month',
        content: monthTab
      }
    ]
  } %}
{% else %}
  <div
      class="opening-hours-wrapper"
      data-service="{{ serviceId }}"
      data-channels="{{ channels|join(',') }}"
      data-type="{{ type }}"
  ></div>
{% endif %}
