<li class="teaser {{ teaser_type }} {{ modifier }}">
  <article class="teaser-content">
    {# title must be the first element in markup #}
    <div class="content__bottom">
      <{{ header_level|default('h3') }} id="{{ teaser_uid }}">{{ teaser_title }}</{{ header_level|default('h3') }}>

    {% if teaser_event_date or teaser_published_date %}
      {% if teaser_event_date %}
        {# Events can consist of two timestamps, so we wrap it in a span. #}
        <div class="event">
          <span>
            <time datetime="{{ teaser_event_date.datetime_1 }}">{{ teaser_event_date.text_1  }}</time>
            {% if teaser_event_date.datetime_2 and teaser_event_date.text_2 %}
              &nbsp;<time datetime="{{ teaser_event_date.datetime_2 }}">{{ teaser_event_date.text_2  }}</time>
            {% endif %}
          </span>
        </div>
      {% else %}
        <time class="published" datetime="{{ teaser_datetime }}" pubdate="pubdate">{{ teaser_published_date }}</time>
      {% endif %}
    {% endif %}

    {% if teaser_topic_links is empty %}
      {% include '@paragraph' with {
        'text': teaser_paragraph_text
      } %}
    {% endif %}

    {% if teaser_topic_links is not empty %}
      <ul class="links teaser-topic-links">
        {% for link in teaser_topic_links|slice(0, max_links|default(5)) %}
          <li>
            {% include '@link' with {
              'text': link.text,
              'link': link.link
            } %}
          </li>
        {% endfor %}
      </ul>


      {% if teaser_telephone or teaser_email %}
        <ul class="teaser-contact-info">
          {% if teaser_telephone %}
            <li>
              {% include '@link' with {
                'text': teaser_telephone,
                'link': 'tel:'~teaser_telephone,
                'modifier': 'no-icon'
              } %}
            </li>
          {% endif %}
          {% if teaser_email %}
            <li>
              {% include '@link' with {
                'text': teaser_email,
                'link': 'mailto:'~teaser_email,
                'modifier': 'no-icon'
              } %}
            </li>
          {% endif %}
        </ul>
      {% endif %}

      {% if teaser_topic_links|length > max_links|default(5) %}
        {% include '@link' with {
          'text': 'show more',
          'aria_labelledby': teaser_uid,
          'link': teaser_link_link,
          'modifier': 'read-more standalone-link'
        } %}
      {% endif %}
    {% else %}
      {% include '@link' with {
        'text': 'read more',
        'aria_labelledby': teaser_uid,
        'link': teaser_link_link,
        'modifier': 'read-more standalone-link'
      } %}
    {% endif %}
    </div>
    <div class="content__top">
      {% if teaser_label_text %}
        <span class="teaser-label">
          <i class="icon-calendar"></i>
          <span>{{ teaser_label_text }}</span>
        </span>
      {% endif %}

      {% if teaser_image_src is defined %}
        <div class="figure-wrapper">
          {% include '@figure' with {
            "figure_image_src": teaser_image_src,
            "figure_ratio": teaser_image_ratio
          } %}

          <div class="accolade-inverse bottom-left"></div>
        </div>
      {% endif %}

      {% if teaser_tag %}
        {% include '@tag' with {
          "tag_text": teaser_tag,
          "type": 'span-tag'
        } %}
      {% endif %}
    </div>
  </article>
  <a href="{{ teaser_link_link }}" class="teaser-overlay-link" tabindex="-1" aria-hidden="true">{{ teaser_title }}</a>
</li>
