<h2>{{ 'Primary colors' }}</h2>
<div class="preview-inner-container styleguide-primary-colors">
  {% for text, color in primary %}
    <div class="color" style="background: {{ color|e }}">
      <p>{{ text|e }}</p>
      <p>{{ color|e }}</p>
    </div>
  {% endfor %}
</div>

<h2>{{ 'Secondary colors' }}</h2>
<div class="preview-inner-container styleguide-secondary-colors">
  {% for text, color in secondary %}
  <div class="color" style="background: {{ color|e }}">
    <p>{{ text|e }}</p>
      <p>{{ color|e }}</p>
    </div>
  {% endfor %}
</div>

<h1 class="test">dsfdsf</h1>
