
<h2 class="styleguide-title">{{ 'Primary colors' }}</h2>
<div class="preview-inner-container styleguide-primary-colors">
  {% for text, color in primary %}
    <div class="color-wrapper">
      <div class="color" style="background: {{ color|e }}"></div>
      <div class="color-info">
        <p>{{ color|e }}</p>
        <p>{{ text|e }}</p>
      </div>
      <div class="color-variants">
        <div class="color-variants-title"><strong>{{ 'Tints' }}</strong></div>
        {% for key, tint in tints %}
          <div class="color-variant">
            {% if key < 0 %}
              <strong>{{ text|e }}</strong>: lighter {{ tint|e }}
            {% else %}
              <strong>{{ text|e }}</strong>: darker {{ tint|e }}
            {% endif %}
            <div class="color-swatch-variant color-swatch-{{ text|e }}-{{ key }}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<h2 class="styleguide-title">{{ 'Secondary colors' }}</h2>
<div class="preview-inner-container styleguide-secondary-colors">
  {% for text, color in secondary %}
  <div class="color-wrapper">
    <div class="color" style="background: {{ color|e }}"></div>
    <div class="color-info">
      <p>{{ color|e }}</p>
      <p>{{ text|e }}</p>
    </div>
    <div class="color-variants">
      <div class="color-variants-title"><strong>{{ 'Shades & tints' }}</strong></div>
      {% for key, tint in tints %}
        <div class="color-variant">
          {% if key < 0 %}
            <strong>{{ text|e }}</strong>: lighter {{ tint|e }}
          {% else %}
            <strong>{{ text|e }}</strong>: darker {{ tint|e }}
          {% endif %}
          <div class="color-swatch-variant color-swatch-{{ text|e }}-{{ key }}"></div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
