<h3 id="styleguide-colors" class="styleguide-title">{{ 'Primary colors' }}</h3>
{% for text, color in primary %}
  <div class="color-wrapper {{ text == 'white' ? 'white' : '' }}">
    <div>
      <div class="color" style="background: {{ color|e }}"></div>
      <p><strong>{{ text|e }}</strong></p>
      <code>color('{{ text }}');</code>
      <code>{{ color|e }}</code>
    </div>
    <div class="color-variants">
      <div>
        {% for key, tint in tints %}
          {% if key > 0 %}
            <div class="color-box">
              <div class="color color-swatch-{{ text|e }}-{{ key }}"></div>
              <strong>{{ '+ ' ~ tint|e }}</strong>
              <code>color('{{ text }}', {{ key }});</code>
              <code>{{ 'rgb(' ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(1,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(2,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ", " ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(3,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(4,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ", " ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(5,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(6,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ")" }}</code>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        {% for key, tint in tints %}
          {% if key < 0 %}
            <div class="color-box">
              <div class="color color-swatch-{{ text|e }}-{{ key }}"></div>
              <strong>{{ tint|e }}</strong>
              <code>color('{{ text }}', {{ key }});</code>
              <code>{{ 'rgba(' ~
                ("0123456789abcdef"|split(color|slice(1,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(2,1))[0]|length)|round
                ~ ", " ~
                ("0123456789abcdef"|split(color|slice(3,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(4,1))[0]|length)|round
                ~ ", " ~
                ("0123456789abcdef"|split(color|slice(5,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(6,1))[0]|length)|round
                ~ ", "
                ~ tint|trim('%')/100 ~ ")" }}</code>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<h3 class="styleguide-title">{{ 'Secondary colors' }}</h3>
{% for text, color in secondary %}
  <div class="color-wrapper {{ text == 'white' ? 'white' : '' }}">
    <div>
      <div class="color" style="background: {{ color|e }}"></div>
      <p><strong>{{ text|e }}</strong></p>
      <code>color('{{ text }}');</code>
      <code>{{ color|e }}</code>
    </div>
    <div class="color-variants">
      <div>
        {% for key, tint in tints %}
          {% if key > 0 %}
            <div class="color-box">
              <div class="color color-swatch-{{ text|e }}-{{ key }}"></div>
              <strong>{{ '+ ' ~ tint|e }}</strong>
              <code>color('{{ text }}', {{ key }});</code>
              <code>{{ 'rgb(' ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(1,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(2,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ", " ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(3,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(4,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ", " ~
                ((1 - tint|trim('%')/100) *
                ("0123456789abcdef"|split(color|slice(5,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(6,1))[0]|length)
                + (tint|trim('%')/100) * 0)|round
                ~ ")" }}</code>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div>
        {% for key, tint in tints %}
          {% if key < 0 %}
            <div class="color-box">
              <div class="color color-swatch-{{ text|e }}-{{ key }}"></div>
              <strong>{{ tint|e }}</strong>
              <code>color('{{ text }}', {{ key }});</code>
              <code>{{ 'rgba(' ~
                ("0123456789abcdef"|split(color|slice(1,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(2,1))[0]|length)|round
                ~ ", " ~
                ("0123456789abcdef"|split(color|slice(3,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(4,1))[0]|length)|round
                ~ ", " ~
                ("0123456789abcdef"|split(color|slice(5,1))[0]|length * 16
                + "0123456789abcdef"|split(color|slice(6,1))[0]|length)|round
                ~ ", "
                ~ tint|trim('%')/100 ~ ")" }}</code>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
