<fieldset class="form-item checkbox-filter {{ modifier }}">
  <legend>
    {{ label }}
    {% if label_optional %}
      <span class="label-optional">({{ label_optional }})</span>
    {% endif %}
  </legend>
  {% if field_description %}
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' with {
      "field_description": field_description
      } %}
    </div>
    <div class="form-item-column">
  {% endif %}
      <div class="checkbox-filter__selected">

      </div>
      <div class="checkbox-filter__modal">
        <div class="modal-actions">
          <button type="button" class="button icon-cross modal-close checkbox-filter__close"><span>Close</span><i class="icon-close" aria-hidden="true"></i></button>
        </div>

        <header>
          <h3>{{ label }}
            {% if label_optional %}
              <span class="label-optional">({{ label_optional }})</span>
            {% endif %}
          </h3>
        </header>
        <div class="form-item">
          <label for="checkboxes__filter_id_{{ modifier }}">Filter the list below</label>
          <input type="search" id="checkboxes__filter_id_{{ modifier }}"
                 class="checkbox-filter__filter">
          <strong aria-live="polite" class="checkbox-filter__result-wrapper">There are <span class="checkbox-filter__result">#</span> results</strong>
        </div>

        <div class="checkbox-filter__checkboxes">
          {% for option in options %}
            {% include '@input-checkbox' with {
            'checkbox_label': option.label_checkbox,
            'checkbox_name': option.checkbox_name,
            'checkbox_id': option.checkbox_id,
            'checkbox_value': option.checkbox_value
            } %}
          {% endfor %}
        </div>

        <footer class="checkbox-filter__actions">
          <button type="button" class="button button-primary button-small checkbox-filter__submit">Confirm selection</button>
        </footer>

      </div>
      <div class="overlay checkbox-filter__close"></div>
      <button type="button" class="button button-secondary button-small checkbox-filter__open">
        Select ...
      </button>


      {% if modifier == 'error' %}
        {% include '@field-message' with {
        "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
        "modifier": "success"
        } %}
      {% endif %}
  {% if field_description %}
      </div>
  </div>
  {% endif %}
</fieldset>
