<fieldset class="form-item checkbox-filter {{ modifier }}">
  <legend>
    {{ label }}
    {% if label_optional %}
      <span class="label-optional">({{ label_optional }})</span>
    {% endif %}
  </legend>
  {% if field_description %}
    <div class="form-columns">
      <div class="form-item-column">
        {% include '@field-description' with {
        "field_description": field_description
        } %}
      </div>
    <div class="form-item-column">
  {% endif %}
      {% set modalContent %}
        <h3>{{ label }}
          {% if label_optional %}
            <span class="label-optional">({{ label_optional }})</span>
          {% endif %}
        </h3>
        <div class="form-item">
          <label for="checkboxes__filter_id_{{ modifier }}">Filter the list below</label>
          <input type="search" id="checkboxes__filter_id_{{ modifier }}"
                 class="checkbox-filter__filter">
          <div class="checkbox-filter__selected"></div>
        </div>
        <p>
          <strong class="checkbox-filter__result-placeholder">There is no filter applied.</strong>
          <strong aria-live="polite" class="checkbox-filter__result-wrapper"><span class="checkbox-filter__result">#</span> result(s) found:</strong>
        </p>
        <div class="checkbox-filter__checkboxes">
          {% for option in options %}
            {% include '@input-checkbox' with {
              'checkbox_label': option.label_checkbox,
              'checkbox_name': option.checkbox_name,
              'checkbox_id': option.checkbox_id,
              'checkbox_value': option.checkbox_value
            } %}
          {% endfor %}
        </div>
      {% endset %}

      {% set modalActions %}
        <a type="button" class="button button-primary checkbox-filter__submit">Confirm selection</a>
      {% endset %}

      {% include "@modal" with {
        id: 'modal' ~ modifier,
        classes: 'checkbox-filter__modal',
        content: modalContent,
        actions: modalActions
      } %}


      <p class="checkbox-filter__count-wrapper hidden">
        <strong><span class="checkbox-filter__count">0</span> {{ label_count }} selected</strong>
      </p>
      <button type="button" class="button button-secondary button-small checkbox-filter__open" data-hash="#modal{{ modifier }}">
        Select ...
      </button>


      {% if modifier == 'error' %}
        {% include '@field-message' with {
        "modifier": "error"
        } %}
      {% endif %}
      {% if modifier == 'success' %}
        {% include '@field-message' with {
        "modifier": "success"
        } %}
      {% endif %}
  {% if field_description %}
      </div>
    </div>
  {% endif %}
</fieldset>
