{% if type == 'tag' %}
  <a href="javascript:(void);" class="tag {{ modifier }}">
    {{ tag_text }}
  </a>
{% endif %}

{% if type == 'external-tag' %}
  <a href="https://external.link" class="tag {{ modifier }}">
    {{ tag_text }}
  </a>
{% endif %}

{% if type == 'filter-tag' %}
  <span class="tag filter {{ modifier }}">
    {{ tag_text }}
    <button><span class="visually-hidden">{{ 'Remove ' ~ tag_text }}</span></button>
  </span>
{% endif %}

{% if type == 'span-tag' %}
  <span class="tag {{ modifier }}">
    {{ tag_text }}
  </span>
{% endif %}
