{% if type == 'tag' %}
  <a href="javascript:(void);" class="tag {{ modifier }}">
    {{ tag_text }}
  </a>
{% endif %}

{% if type == 'filter-tag' %}
  <span class="tag filter {{ modifier }}">
    {{ tag_text }}
    <button></button>
  </span>
{% endif %}

{% if type == 'link-tag-with-icon' %}
  <span class="tag {{ modifier }}">
    {{ tag_text }}
  </span>
{% endif %}

