<div class="contact-box accordion">
{% include '@heading' with {
  'type': 'h2',
  'heading_text': 'Contact'
} %}

  <div class="contact-box--header">
    <div class="contact-box-column">
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Contacts'
      } %}

      <ul class="main-contacts">
        {% for contact in contacts %}
          <li>
            <address class="contact-fiche">
              {% include '@link' with {
                'link': contact.link,
                'text': contact.link_text,
                'modifier': 'standalone-link contact-name'
              } %}
              <p>
                {{ contact.address }}
              </p>
              {% include '@link' with {
                'link': 'mailto:' ~ contact.email,
                'text': contact.email,
                'modifier': 'contact-email'
              } %}
            </address>
              {% if contact.opening_hours|length > 0 %}
                <span class="opening-hours open">
                  {{ 'Today open - ' }}<time>{{ contact.opening_hours }}</time>
                </span>
              {% else %}
              <span class="opening-hours closed">
                {{ 'Closed today' }}
              </span>
              {% endif %}
          </li>
        {% endfor %}
      </ul>
      <h3>
        <button class="accordion--button"
                aria-expanded="false"
                aria-controls="contact-box--content--contactbox-{{ unique_id }}">
          {{ 'There are 5 other contacts available' }}
        </button>
      </h3>

      <div class="accordion--content"
        id="contact-box--content--contactbox-{{ unique_id }}">
        <ul class="links">
          {% for contact in other_contacts %}
            <li>
              {% include '@link' with {
                'link': contact.link,
                'text': contact.link_text,
                'modifier': 'standalone-link'
              } %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="contact-box-column">
      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Location'
      } %}

      {% include '@paragraph' with {
      "text": "Map stub",
      } %}

      {% include '@heading' with {
        'type': 'h3',
        'heading_text': 'Authorized persons'
      } %}

      <ul class="links">
        {% for contact in other_contacts %}
          <li>
            {% include '@link' with {
              'link': contact.link,
              'text': contact.link_text,
              'modifier': 'standalone-link'
            } %}
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
