{# --- HEADINGS --- #}
<h3 id="styleguide-headings" class="styleguide-title">Headings</h3>
<div class="preview-inner-container">
  {% include '@heading' with {
    'type': 'h1',
    'heading_text': 'Heading 1'
  } %}
  {% include '@heading' with {
    'type': 'h2',
    'heading_text': 'Heading 2'
  } %}
  {% include '@heading' with {
    'type': 'h3',
    'heading_text': 'Heading 3'
  } %}
  {% include '@heading' with {
    'type': 'h4',
    'heading_text': 'Heading 4'
  } %}
  {% include '@heading' with {
    'type': 'overview-title',
    'heading_text': 'Overview title'
  } %}
  {% include '@heading' with {
    'type': 'collection-title',
    'heading_text': 'Collection title'
  } %}
</div>


{# --- PARAGRAPH TYPES --- #}
<h3 id="styleguide-paragraphs" class="styleguide-title">Paragraph types</h3>
<div class="preview-inner-container">
  <h4 class="styleguide-title">{{ 'Normal paragraph' }}</h4>
  {% include '@paragraph' with {
    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin mauris vel nisi condimentum accumsan. Phasellus eget est condimentum erat fringilla congue. Duis malesuada justo ut tincidunt tincidunt. Vestibulum in felis quam. In <strong>varius</strong> ligula vel ultricies consequat. Cras fringilla blandit purus nec <a href="javascript:(void);">fermentum</a>. Vivamus tristique ac mi a <i>pulvinar</i>. Quisque non ipsum tortor. Nunc nec odio non tellus malesuada molestie id sed ipsum. Curabitur risus ex, aliquet sed orci a, sagittis finibus sem. Ut bibendum purus id sodales scelerisque.'
  }%}
</div>


{# --- LISTS --- #}
<h3 id="styleguide-lists" class="styleguide-title">Lists</h3>
  <div class="preview-inner-container">
    <h4 class="styleguide-title">{{ 'Ordered list' }}</h4>
    {% include '@list'
      with {
        'type': 'ordered',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>
  <div class="preview-inner-container">
    <h4 class="styleguide-title">{{ 'Unordered list' }}</h4>
    {% include '@list'
      with {
        'type': 'unordered',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>
  <div class="preview-inner-container">
    <h4 class="styleguide-title">{{ 'List with icons' }}</h4>
    {% include '@list'
      with {
        'type': 'checkmark-list',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>
  <div class="preview-inner-container">
    <h4 class="styleguide-title">{{ 'List with small icons' }}</h4>
    {% include '@list'
      with {
        'type': 'checkmark-list-small',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>
  <div class="preview-inner-container">
    <h4 class="styleguide-title">{{ 'Definition list' }}</h4>
    {% include '@list'
      with {
        'type': 'definition',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ],
        "definitions": [
          "A short description",
        "A short description",
        "A larger description. Chocolate cake toffee candy tiramisu danish chupa chups croissant liquorice. Carrot cake gummi bears pastry. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread.",
        "A larger description. Chocolate cake toffee candy tiramisu danish chupa chups croissant liquorice. Carrot cake gummi bears pastry. <Paste>"
        ]
      }
      %}
      </div>


{# --- INPUT TYPES --- #}
<h3 id="styleguide-inputs" class="styleguide-title">Input types</h3>
  <div class="preview-inner-container">
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: date</h4>
      {% include '@label' with { 'for': 'input-date-id', 'label': 'Date label' } %}
      {% include '@input-date' with { 'date_id': 'input-date-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: checkbox</h4>
      {% include '@input-checkbox' with { 'checkbox_id': 'checkbox-id', 'checkbox_label': 'Checkbox option' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: radio</h4>
      {% include '@input-radio' with { 'radio_id': 'radio-id', 'radio_label': 'Radio option' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: email</h4>
      {% include '@label' with { 'for': 'email-id', 'label': 'Email label' } %}
      {% include '@input-email' with { 'id': 'email-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: file</h4>
      {% include '@label' with { 'for': 'file-id', 'label': 'File label' } %}
      {% include '@input-file' with { 'id': 'file-id'} %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: select</h4>
      {% include '@label' with { 'for': 'select-id', 'label': 'Select label' } %}
      {% include '@input-select' with {
        'id': 'select-id',
        "options": [
        {
          "label": "Option 1"
        },
        {
          "label": "Option 2"
        },
        {
          "optgroup": true,
          "label": "Option group",
          "optgroupoptions": [
            {
              "label": "Option 3"
            },
            {
              "label": "Option 4"
            }
          ]
        }
      ]
    } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: multiselect</h4>
      {% include '@label' with { 'for': 'multiselect-id', 'label': 'Multiselect label' } %}
      {% include '@input-multiselect' with {
        'id': 'multiselect-id',
        "options": [
        {
          "label": "Option 1"
        },
        {
          "label": "Option 2"
        },
        {
          "label": "Option 3"
        },
        {
          "label": "Option 4"
        }
      ]
      } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: number</h4>
      {% include '@label' with { 'for': 'number-id', 'label': 'Number label' } %}
      {% include '@input-number' with { 'id': 'number-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: password</h4>
      {% include '@label' with { 'for': 'password-id', 'label': 'Password label' } %}
      {% include '@input-password' with { 'id': 'password-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: search</h4>
      {% include '@label' with { 'for': 'search-id', 'label': 'Search label' } %}
      {% include '@input-search' with { 'search_id': 'search-id'} %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: tel</h4>
      {% include '@label' with { 'for': 'tel-id', 'label': 'Tel label' } %}
      {% include '@input-tel' with { 'id': 'tel-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: text</h4>
      {% include '@label' with { 'for': 'text-id', 'label': 'Text label' } %}
      {% include '@input-text' with { 'id': 'text-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: url</h4>
      {% include '@label' with { 'for': 'url-id', 'label': 'Url label' } %}
      {% include '@input-url' with { 'url_id': 'url-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: textarea</h4>
      {% include '@label' with { 'for': 'textarea-id', 'label': 'Textarea label' } %}
      {% include '@input-textarea' with { 'id': 'textarea-id' } %}
    </div>
    <div class="preview-inner-inner-container">
      <h4 class="styleguide-title">Input type: submit</h4>
      {% include '@input-submit' with {
        "value": "Submit"
      } %}
    </div>
</div>


{# --- BUTTONS --- #}
<h3 id="styleguide-buttons" class="styleguide-title">Buttons</h3>
<div class="preview-inner-inner-container">
  <h4 class="styleguide-title">Primary buttons</h4>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'primary'} %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'primary', 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'primary', 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'primary', 'modifier': 'button-small' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'primary', 'modifier': 'button-default' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'primary', 'modifier': 'button-large' } %}
  </p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'primary', 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button' with { 'text': 'Button', 'type': 'primary', 'modifier': 'button-default icon-digipolis' } %}
    {% include '@button' with { 'text': 'Button', 'type': 'primary', 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button' with { 'disabled': true, 'type': 'primary', 'text': 'Small', 'modifier': 'button-small' } %}
    {% include '@button' with { 'disabled': true, 'type': 'primary', 'text': 'Medium', 'modifier': 'button-default' } %}
    {% include '@button' with { 'disabled': true, 'type': 'primary', 'text': 'Large', 'modifier': 'button-large' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'text': 'Link as a button',
      'modifier': 'button button-primary'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <h4 class="styleguide-title">Secondary buttons</h4>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'secondary' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'secondary', 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'secondary', 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'secondary', 'modifier': 'button-small' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'secondary', 'modifier': 'button-default' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'secondary', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'secondary', 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'secondary', 'modifier': 'button-default icon-digipolis' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'secondary', 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'secondary', 'modifier': 'button-small', 'disabled': true } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'secondary', 'modifier': 'button-default', 'disabled': true } %}
    {% include '@button' with { 'text': 'Large', 'type': 'secondary', 'modifier': 'button-large', 'disabled': true } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'text': 'Link as a button',
      'modifier': 'button button-secondary'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <h4 class="styleguide-title">Dark buttons</h4>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'dark' }%}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'dark', 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'dark', 'modifier': 'button-block icon-digipolis' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'dark', 'modifier': 'button-small' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'dark', 'modifier': 'button-default' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'dark', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'dark', 'modifier': 'button-small icon-digipolis' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'dark', 'modifier': 'button-default icon-digipolis' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'dark', 'modifier': 'button-large icon-digipolis' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'dark', 'modifier': 'button-small', 'disabled': 'button-disabled' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'dark', 'modifier': 'button-default', 'disabled': 'button-disabled' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'dark', 'modifier': 'button-large', 'disabled': 'button-disabled' } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'text': 'Link as a button',
      'modifier': 'button button-dark'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <h4 class="styleguide-title">Alert buttons</h4>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'alert' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'alert', 'modifier': 'button-block' } %}
  </p>
  <p>
  {% include '@button' with { 'text': 'Small', 'type': 'alert', 'modifier': 'button-small' } %}
  {% include '@button' with { 'text': 'Medium', 'type': 'alert', 'modifier': 'button-default' } %}
  {% include '@button' with { 'text': 'Large', 'type': 'alert', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'alert', 'modifier': 'button-small', 'disabled': true } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'alert', 'modifier': 'button-default', 'disabled': true } %}
    {% include '@button' with { 'text': 'Large', 'type': 'alert', 'modifier': 'button-large', 'disabled': true } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'text': 'Link as a button',
      'modifier': 'button button-alert'
    } %}
  </p>
</div>
<div class="preview-inner-inner-container">
  <h4 class="styleguide-title">Success buttons</h4>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'success' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'success', 'modifier': 'button-block' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Button', 'type': 'success', 'modifier': 'button-block icon-checkmark' } %}
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'success', 'modifier': 'button-small' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'success', 'modifier': 'button-default' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'success', 'modifier': 'button-large' } %}
  </p>
  <p>
  <p>
    With icon:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'success', 'modifier': 'button-small icon-checkmark' } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'success', 'modifier': 'button-default icon-checkmark' } %}
    {% include '@button' with { 'text': 'Large', 'type': 'success', 'modifier': 'button-large icon-checkmark' } %}
  </p>
  <p>
    Disabled state:
  </p>
  <p>
    {% include '@button' with { 'text': 'Small', 'type': 'success', 'modifier': 'button-small', 'disabled': true } %}
    {% include '@button' with { 'text': 'Medium', 'type': 'success', 'modifier': 'button-default', 'disabled': true } %}
    {% include '@button' with { 'text': 'Large', 'type': 'success', 'modifier': 'button-large', 'disabled': true } %}
  </p>
  <p>
    Link styled as a button:
  </p>
  <p>
    {% include '@link--button' with {
      'text': 'Link as a button',
      'modifier': 'button button-success'
    } %}
  </p>
</div>

{# --- LINKS --- #}
<h3 id="styleguide-links" class="styleguide-title">{{ 'Links' }}</h3>
<div class="preview-inner-container">
  <p>
    <h4 class="styleguide-title">Normal link</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Normal link'
    } %}
  </p>
  <p>
  <h4 class="styleguide-title">Standalone link</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Standalone link',
      'modifier': 'standalone-link'
    } %}
  </p>
  <p>
  <h4 class="styleguide-title">External link</h4>
    {% include '@link' with {
      'link': 'https://google.com',
      'text': 'External link'
    } %}
  </p>
  <p>
  <h4 class="styleguide-title">Download link</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Download link',
        'download': true
    } %}
  </p>
  <p>
    <h4 class="styleguide-title">Link as a primary button</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Link as a button',
      'modifier': 'button button-primary'
    } %}
  </p>
  <p>
    <h4 class="styleguide-title">Link as a secondary button</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Link as a button',
      'modifier': 'button button-secondary'
    } %}
  </p>
  <p>
    <h4 class="styleguide-title">Link as a alert button</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Link as a button',
      'modifier': 'button button-alert'
    } %}
  </p>
  <p>
    <h4 class="styleguide-title">Link as a success button</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Link as a button',
      'modifier': 'button button-success'
    } %}
  </p>
  <p>
    <h4 class="styleguide-title">Link as a dark button</h4>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'text': 'Link as a button',
      'modifier': 'button button-dark'
    } %}
  </p>
</div>

{# --- TAGS --- #}
<h3 id="styleguide-tags" class="styleguide-title">{{ 'Tags (inline)' }}</h3>
<div class="preview-inner-container">
  {% include '@tag' with {
    'tag_text': 'Inner city'
  } %}
  {% include '@tag' with {
    'tag_text': 'Another tag'
  } %}
  {% include '@tag' with {
    'tag_text': 'A very long tag with lots of text in it'
  } %}
</div>
