{# Table (desktop) #}
<div class="responsive-table">
  <div class="table-wrapper">
    <table>
      {% for row in table.rows %}
        <tr {{ row.attributes }}>
          {% for cell in row.cells %}
            {% if cell.header %}
              <th {{ cell.attributes }}>{{ cell.text }}</th>
            {% else %}
              <td {{ cell.attributes }}>{{ cell.text }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      <caption>
        {{ caption }}
      </caption>
    </table>
  </div>
</div>

{# List (mobile) #}
<div aria-labelledby="{{ _self.name }}-list-description" class="table-list">
  <ul>
    {% for row in table.rows|slice(table.columnHeaders ? 1 : 0) %}
    <li {{ row.attributes }}>

      {# Row title #}
      {% if table.rowHeaders %}
        {% set rowHeader = row.cells|first %}
        <h3>{{ rowHeader.text }}</h3>
      {% endif %}

      {# Cells #}
      <dl>
        {% for cell in row.cells|slice(table.rowHeaders ? 1 : 0) %}
          {% if table.columnHeaders %}
            {% set headingIndex = loop.index - (table.rowHeaders ? 0 : 1) %}
            <dt>{{ table.rows|first.cells[headingIndex].text }}</dt>
          {% endif %}

          <dd {{ cell.attributes }}>{{ cell.text }}</dd>
        {% endfor %}
      </dl>
    </li>
    {% endfor %}
  </ul>
  <div class="list-description" id="{{ _self.name }}-list-description">
    {{ caption }}
  </div>
</div>
