<div class="checkbox{{ modifierWrapper ? ' ' ~ modifierWrapper }}">
  <input type="checkbox"
         id="{{ id }}"
         name="{{ name }}"
         value="{{ value }}"
         class="checkbox {% if modifier %}{{ modifier }}{% endif %}"
    {% if disabled %}
      disabled="disabled"
    {% endif %}
  />
  <label for="{{ id }}">{{ label }}</label>
</div>
