<li class="teaser teaser-article">
  <article class="teaser-content">
    {# title must be the first element in markup #}
    <div class="content__bottom">
      <h3 id="{{ teaser_uid }}">{{ teaser_title }}</h3>
      {% if teaser_event_date %}
        {# Events can consist of two timestamps, so we wrap it in a span. #}
        <div class="event">
        <span>
          <time datetime="{{ teaser_event_date.datetime_1 }}">{{ teaser_event_date.text_1  }}</time>
          {% if teaser_event_date.datetime_2 and teaser_event_date.text_2 %}
          &nbsp;<time datetime="{{ teaser_event_date.datetime_2 }}">{{ teaser_event_date.text_2  }}</time>
          {% endif %}
        </span>
        </div>
      {% else %}
        <time class="published" datetime="{{ teaser_datetime }}" pubdate="pubdate">{{ teaser_published_date }}</time>
      {% endif %}

      {% include '@paragraph' with {
        'text': teaser_paragraph_text
      } %}

      {% include '@link' with {
        'text': teaser_link_text,
        'aria_labelledby': teaser_uid,
        'link': teaser_link_link,
        'modifier': 'read-more standalone-link',
        'title': null
      } %}
    </div>
    <div class="content__top">
      {% include '@figure' with {
        "figure_image_src": teaser_image_src,
        "figure_ratio": '8:5'
      } %}

      {% include '@tag' with {
        "tag_text": teaser_tag,
        "type": 'span-tag'
      } %}
    </div>
  </article>
  <a href="{{ teaser_link_link }}" class="teaser-overlay-link" tabindex="-1"
     aria-hidden="true">{{ teaser_title }}</a>
</li>

