<nav class="form-steps{{ modifier ? ' ' ~ modifier }}" aria-labelledby="form-steps-{{ steps.length }}{{ active }}{{ modifier ? '-' ~ modifier }}">
  <h2 id="form-steps-{{ steps.length }}{{ active }}{{ modifier ? '-' ~ modifier }}" class="visually-hidden">Steps in this wizard</h2>
  {% spaceless %}
    <ol>
      {% for key, step in steps %}
        <li class="{% if key + 1 < active %}completed{% endif %}{% if key + 1 == active %}active{% endif %}">
          {% if step.url and (key + 1) != active %}
            <a href="{{ step.url }}"><span>{{ step.text }}</span></a>
          {% else %}
            <span><span>{{ step.text }}</span></span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% endspaceless %}
</nav>

