<a
   {% if rel %}
     rel="{{ rel }}"
   {% endif %}
   href='{{ link }}'
   {% if modifier %}
     class="{{ modifier }}"
   {% endif %}
   {% if aria_label %}
       aria-label="{{ aria_label }}"
   {% endif %}
  {% if download %}
      download
  {% endif %}
  {% if title %}
   title="{{ title }}"
  {% endif %} >
  {% if labeled_by %}
    <span class="visually-hidden">
      {{ labeled_by }}
    </span>
  {% endif %}
  {% spaceless %}
      {{ text }}
  {% endspaceless %}
</a>
