{% set content %}
  <a
    {% if rel %}
      rel="{{ rel }}"
    {% endif %}
    href='{{ link }}'
    {% if modifier %}
      class="{{ modifier }}"
    {% endif %}
    {% if aria_label %}
      aria-label="{{ aria_label }}"
    {% endif %}
    {% if download %}
      download
    {% endif %}
    {% if title %}
      title="{{ title }}"
    {% endif %} >
    {% apply spaceless %}
      {{ text }}
    {% endapply %}
    {% if hidden_read_more %}
      <span class="visually-hidden">
        {{ hidden_read_more }}
      </span>
    {% endif %}
  </a>
{% endset %}
{% if not add_dark_background %}
  {{ content }}
{% else %}
  {% include '@feature-block' with {
    'modifier': 'primary dark-background',
    'title': title,
    'content': content
  } %}
{% endif %}
