{% set content %}
  <div
    {% if background %}
      class="{{ background }}"
      {% else %}
      class="light-background"
    {% endif %}
  >
    <a
      {% if rel %}
        rel="{{ rel }}"
      {% endif %}
      href='{{ link }}'
      {% if modifier %}
        class="{{ modifier }}"
      {% endif %}
      {% if aria_label %}
        aria-label="{{ aria_label }}"
      {% endif %}
      {% if download %}
        download
      {% endif %}
      {% if title %}
        title="{{ title }}"
      {% endif %} >
      {% spaceless %}
        {{ text }}
      {% endspaceless %}
      {% if hidden_read_more %}
        <span class="visually-hidden">
      {{ hidden_read_more }}
    </span>
      {% endif %}
    </a>
  </div>
{% endset %}
{% if not addDarkBackground %}
  {{ content }}
{% else %}
  {% include '@feature-block' with {
    'color': 'primary',
    'title': title,
    'content': content
  } %}
{% endif %}
