<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block title %}Preview Layout{% endblock %}</title>

      <link media="all" rel="stylesheet" href="{{ '/styleguide/vendor/chosen-js/chosen.min.css'| path }}">
      <link media="all" rel="stylesheet" href="{{ '/styleguide/vendor/lightgallery/dist/css/lightgallery.min.css'| path }}">
      <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
      <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">

      <script>
        (function(d) {
          var config = {
                kitId: 'kgt4wbp',
                scriptTimeout: 3000,
                async: true
              },
              h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>

      <!-- Load jQuery -->
      <script type="text/javascript" src="{{ '/styleguide/vendor/jquery/dist/jquery.min.js'|path }}"></script>

      <script type="text/javascript" src="{{ '/styleguide/vendor/lightgallery/dist/js/lightgallery.min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/vendor/chosen-js/chosen.jquery.min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/vendor/masonry-layout/dist/masonry.pkgd.min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/base-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu.functions-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/hamburger-menu.binding-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/header.functions-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/header.binding-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/gallery.functions-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/gallery.binding-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/input-multiselect-chosen.binding-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/input-multiselect-chosen.functions-min.js'|path }}"></script>
      <script type="text/javascript" src="{{ '/styleguide/js/teaser-collection.binding-min.js'|path }}"></script>

      <meta name="MobileOptimized" content="320">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="cs--default">
    <main class="container">
      <h1 class="visually-hidden">{{ 'Component preview' }}</h1>
      {% block content %}
        <div class="preview-container">
          <div class="content-container">
            {{ yield | raw }}
          </div>
        </div>
      {% endblock %}
    </main>
  </body>
</html>
