{% set blockContact %}
  <div class="contact">
    {% include '@heading' with {
    'type': 'h3',
    'heading_text': 'Contact' ~ ' ' ~ theme
    } %}

    {% include '@list' with {
      'type': 'icon-list',
      'icon_items': [
        '<i class="icon-marker" aria-hidden="true"></i><strong>City hall — </strong>Botermarkt 1, 9000 Gent',
        '<i class="icon-normalphone" aria-hidden="true"></i><a href="tel:+3292101060">09 210 10 60</a>',
        '<i class="icon-envelope" aria-hidden="true"></i><a href="mailto:noreply@stad.gent">noreply@stad.gent</a>',
        '<i class="icon-document" aria-hidden="true"></i><a href="#">Contactform Ghent mobility</a>'
      ]
    } %}
  </div>
{% endset %}

{% set blockLogo %}
  <div class="logo">
    {% include '@image' with {
      'src': '/styleguide/img/stock/puur_gent_logo.png' | path,
      'alt_text': 'Puur Gent',
    } %}
  </div>
{% endset %}

<section class="theme-footer">
  <h2 class="visually-hidden">{{ 'Theme footer' }}</h2>
  <div class="content-container">
    {% if (contact and newsletter) %}
      {% set contactshown = true %}

      <div class="top">
        {{ logo ? blockLogo }}
        {{ blockContact }}
      </div>
    {% endif %}
    <div class="bottom">
      {# Logo #}
      {% if logo and not contactshown %}
        {{ blockLogo }}
      {% endif %}

      {# Contact #}
      {% if contact and not contactshown %}
        {% set contactshown = true %}

        {{ blockContact }}
      {% endif %}

      {# Newsletter #}
      {% if newsletter %}
        <div class="newsletter box-left">
          <div class="inner-box">
            {% include '@heading' with {
            'type': 'h3',
            'heading_text': 'Subscribe to the newsletter of'~ ' ' ~ theme
            } %}

            {% include '@paragraph' with {
            'text': 'Receive the most important mobility news in your mailbox.'
            } %}

            {% include '@subscribe' with {
            label: 'Email address',
            text: 'Subscribe',
            id: 'subscribe-' ~ _self.name,
            name: 'subscribe'
            } %}

            {% include '@link' with {
              'link': 'javascript:(void);',
              'text': 'View the list and subscribe to one of our newsletters',
              'modifier': 'standalone-link'
            } %}
          </div>
        </div>
      {% endif %}
      {% if social %}
        <div class="social">
          {% include '@heading' with {
          'type': 'h3',
          'heading_text': 'Follow this theme site on social media'
          } %}
          {% include '@social-list' %}
        </div>
      {% endif %}
    </div>
  </div>
</section>
