<h2 class="styleguide-title">Lists</h2>
<div class="preview-inner-container">
  <h3 class="styleguide">{{ 'Ordered list' }}</h3>
  {% include '@list'
    with {
      'type': 'ordered',
      "items": [
        "item 1",
        "item 2",
        "item 3",
        "item 4"
      ]
    }
  %}
  </div>

  <div class="preview-inner-container">
  <h3 class="styleguide">{{ 'Unordered list' }}</h3>
  {% include '@list'
    with {
      'type': 'unordered',
      "items": [
        "item 1",
        "<i class='icon-twitter'></i> item 2",
        "item 3",
        "item 4"
      ]
    }
  %}
  </div>

  <div class="preview-inner-container">
  <h3 class="styleguide">{{ 'List with links' }}</h3>
  {% include '@list'
    with {
      'type': 'links',
      "items": [
        "<a href='#'>item 1</a>",
        "<a href='#'>item 2</a>",
        "<a href='#'>item 3</a>",
        "<a href='#'>item 4</a>"
      ]
    }
  %}
  </div>

  <div class="preview-inner-container">
    <h3 class="styleguide">{{ 'List with icons' }}</h3>
    {% include '@list'
      with {
        'type': 'iconlist',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>

  <div class="preview-inner-container">
    <h3 class="styleguide">{{ 'List with small icons' }}</h3>
    {% include '@list'
      with {
        'type': 'iconlist-small',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ]
      }
    %}
  </div>

  <div class="preview-inner-container">
    <h3 class="styleguide">{{ 'Definition list' }}</h3>
    {% include '@list'
      with {
        'type': 'definition',
        "items": [
          "item 1",
          "item 2",
          "item 3",
          "item 4"
        ],
        "definitions": [
          "A short description",
        "A short description",
        "A larger description. Chocolate cake toffee candy tiramisu danish chupa chups croissant liquorice. Carrot cake gummi bears pastry. Cake caramels jelly-o lemon drops gummies. Apple pie carrot cake pie powder ice cream icing sweet roll. Caramels chocolate gummies cotton candy dessert apple pie pastry gingerbread.",
        "A larger description. Chocolate cake toffee candy tiramisu danish chupa chups croissant liquorice. Carrot cake gummi bears pastry. <Paste>"
        ]
      }
      %}
      </div>
      </div>
