<div
    id="{{ id }}"
    class="modal{{ modifier ? ' modal--' ~ modifier }}{{ classes ? ' ' ~ classes }}"
    role="dialog"
    aria-modal="true"
    aria-labelledby="{{ id }}-title"
    tabindex="-1">

  <div class="modal-inner">
    <div class="modal-header">
      <button type="button" class="button close icon-cross modal-close{{ cancelClasses ? ' ' ~ cancelClasses }}" data-target="{{ id }}">
        <span>Close</span>
      </button>
    </div>
    <div class="modal-content">
      <{{ title_heading_level|default('h3') }} id="{{ id }}-title">{{ title }}</{{ title_heading_level|default('h3') }}>
      {{ content }}
    </div>
    {% if actions %}
      <div class="modal-actions">
        {{ actions }}
      </div>
    {% endif %}
  </div>

  <div class="modal-overlay modal-close{{ cancelClasses ? ' ' ~ cancelClasses }}" data-target="{{ id }}" tabindex="-1"></div>
</div>
