{% if tags %}
  {% set tagList = [] %}
  {% for tag in tags %}
    {% set tagList = tagList|merge([{text: tag, type: 'span-tag'}]) %}
  {% endfor %}
{% endif %}

<li class="teaser {% if type %} {{ type }} {% endif %} {% if modifier %} {{ modifier }} {% endif %}">
  <article class="teaser-content">
    {# title must be the first element in markup #}
    <div class="content__second">
      {% include '@heading' with {
        'heading': 'h4',
        'heading_text': title
      } %}

      {% if tagList %}
        {% include '@tag-list' with {
          tags: tagList,
          link: null
        } %}
      {% endif %}

      {% if address %}
        <ul class="icon-list">
          <li>
            <i class='icon-marker'></i><span><strong> {{ address_location }} </strong> &mdash; {{ address }}</span>
          </li>
        </ul>
      {% endif %}

      {% if location %}
        <div class="location">
          <i class="icon-marker" aria-hidden="true"></i><span>{{ location }}</span>
        </div>
      {% endif %}

      {% if list %}
        {% include '@list' with {
          'type': 'dash-separated-list',
          'items': list
        } %}
      {% endif %}

      {% if paragraph_text %}
        {% include '@paragraph' with {
          'text': paragraph_text
        } %}
      {% endif %}

      {% include '@link' with {
        'text': link_text,
        'link': link,
        'modifier': 'read-more standalone-link',
        'title': null,
        'hidden_read_more': 'about '~title
      } %}
    </div>

    {% if image_src is defined %}
      <div class="content__first">
        <div class="figure-wrapper">
          {% include '@image' with {
            src: image_src,
            ratio: image_ratio
          } %}
        </div>
      </div>
    {% endif %}
  </article>
  <a href="{{ link }}" class="teaser-overlay-link" tabindex="-1"
     aria-hidden="true">{{ title }}</a>
</li>
