<li class="teaser {{ teaser_type }}">
  <article class="teaser-content">
    {# title must be the first element in markup #}
    <div class="content__right content__second">
      <{{ header_level|default('h3') }} id="{{ teaser_uid }}">{{ teaser_title }}</{{ header_level|default('h3') }}>

      {% if teaser_tag %}
        {% include '@tag' with {
          "tag_text": teaser_tag,
          "type": 'span-tag'
        } %}
      {% endif %}

      {% if teaser_address %}
        <ul class="icon-list">
          <li>
            <i class='icon-marker'></i><span><strong> {{ teaser_address_location }} </strong> &mdash; {{ teaser_address }}</span>,
          </li>
        </ul>
      {% endif %}

      {% if teaser_location %}
        <div class="location">
          <i class="icon-marker" aria-hidden="true"></i><span>{{ teaser_location}}</span>
        </div>
      {% endif %}

      {% if teaser_list %}
        {% include '@list' with {
          'type': 'icon-list',
          'modifier': 'links inline',
          'icon_items': teaser_list
        } %}
      {% endif %}

      {% if teaser_paragraph_text %}
        {% include '@paragraph' with {
          'text': teaser_paragraph_text
        } %}
      {% endif %}

      {% include '@link' with {
        'text': teaser_link_text,
        'aria_labelledby': teaser_uid,
        'link': teaser_link_link,
        'modifier': 'read-more standalone-link',
        'title': null
      } %}
    </div>

    {% if teaser_image_src %}
      <div class="content__left content__first">
        <div class="figure-wrapper">
          {% include '@figure' with {
            "figure_image_src": teaser_image_src,
            "figure_ratio": '8:5'
          } %}
          <div class="accolade-inverse right-top"></div>
          <div class="accolade-inverse bottom-left"></div>
        </div>
      </div>
    {% endif %}
  </article>
  <a href="{{ teaser_link_link }}" class="teaser-overlay-link" tabindex="-1"
     aria-hidden="true">{{ teaser_title }}</a>
</li>
