{% if content is not defined %}
  {% set content %}
    {% if description %}
      {% include '@paragraph' with {
        'text': description
      } %}
    {% endif %}

    <{{ links|length > 1 ? 'ul' : 'div'}} class="links">
    {% for link in links %}
      {% set options = {
        link: link.url,
        text: link.text,
        modifier: loop.first ? 'button button-large button-secondary' : 'standalone-link'
      } %}

      {% if link.size|length %}
        {% set options = options|merge({
          file: {
            size: link.size,
            type: 'pdf'
          }
        }) %}
      {% endif %}

      {% if links|length > 1 %}
        <li>
      {% endif %}
      {% include '@file-download' with options %}
      {% if links|length > 1 %}
        </li>
      {% endif %}
    {% endfor %}
    <{{ links|length > 1 ? '/ul' : '/div'}} class="links">
  {% endset %}
{% endif %}

{% if color is not defined %}
  {% set color = 'secondary' %}
{% endif %}

{% set background_class = '' %}

{% if color == 'primary' %}
  {% set background_class = 'dark-background' %}
{% endif %}

{% if layout is not defined %}
  {% set layout = 'image-none' %}
{% endif %}

<section class="cta-block {{ modifier }} {{ layout }}">
  {% if layout != 'image-none' and src is defined %}
    <div class="cta-block__image">
      <img src="{{ src }}" alt="{{ alt_text }}" />
    </div>
  {% endif %}
  <div class="cta-block__content">
    {% include '@feature-block' with {
      'modifier': color ~ ' ' ~ background_class,
      'title': title,
      'content': content
    } %}
  </div>
</section>
