<div class="programme-wrapper">
  <h2 class="visually-hidden">Programme</h2>
  <dl class="programme box-top">
    <div class="inner-box">

      {% for slotKey, slot in slots %}
        <div class="programme-slot" role="listitem">
          <dt class="programme-slot-title">{{ slot.title }}</dt>
          <dd>
            <ul class="grid-3">

            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}
              <li>
                <!-- Programme detail -->
                <section id="{{ key }}" class="programme-detail modal" tabindex="-1">
                  <div class="programme-detail-inner">
                    <div class="modal-actions">
                      {% include '@modal-close' %}
                    </div>

                    <h2>{{ item.title }}</h2>
                    {% if item.subtitle %}
                      <h3>{{ item.subtitle }}</h3>
                    {% endif %}

                    {% if item.images|length > 1 %}
                      {% include '@image-gallery--multiple' with {
                        type: 'secondary',
                        items: item.images
                      } %}
                    {% elseif item.images|length > 0  %}
                      {% include '@image-gallery' with {
                        type: 'secondary',
                        src: item.images|first.src,
                        alt: item.images|first.alt,
                        caption: item.images|first.caption
                      } %}
                    {% endif %}

                    {% if item.description %}
                      {% include '@paragraph' with {
                        'text': item.description
                      } %}
                   {% endif %}

                    {% if item.video %}
                      {% include '@video' with item.video %}
                    {% endif %}
                  </div>
                </section>
                <div class="programme-detail-overlay"></div>
                <!-- /Programme detail -->

                <!-- Programme Teaser -->
                <article class="programme-teaser">
                  <!-- Content -->
                  <div class="programme-teaser__bottom">
                    <h3 id="uid_{{ key }}">{{ item.title }}</h3>
                    <span class="programme-teaser-subtitle">{{ item.subtitle }}</span>

                    <a href="javascript:void(0);" class="read-more standalone-link" aria-labelledby="uid_{{ key }}">read more</a>
                  </div>

                  <!-- Image -->
                  <div class="programme-teaser__top">
                    <div class="figure-wrapper">
                      <figure>
                        <div class="image-wrapper" data-ratio="8:5">
                          <img src="{{ item.images|first.src }}" alt="{{ item.images|first.alt }}">
                        </div>
                      </figure>
                      <div class="accolade-inverse bottom-left"></div>
                    </div>
                  </div>

                  <!-- Overlay Link -->
                  <a href="javascript:void(0);" class="programme-teaser-overlay-link modal-trigger"
                     tabindex="-1"
                     aria-hidden="true"
                     aria-expanded="false"
                     aria-controls="{{ key }}">{{ item.title }}</a>
                </article>
                <!-- /Programme Teaser -->
              </li>
            {% endfor %}

          </ul>
          </dd>
        </div>
      {% endfor %}

    </div>
  </dl>
</div>
