<div class="programme-wrapper">
  <h2 class="visually-hidden">Programme</h2>
  <dl class="programme box-top">
    <div class="inner-box">

      {% for slotKey, slot in slots %}
        <div class="programme-slot" role="listitem">
          <h3 class="programme-slot-title">{{ slot.title }}</h3>
          <ul class="grid-3">

            {% for itemKey, item in slot.items %}
              {% set key = slotKey ~ itemKey %}
              <li class="programme-slot-wrapper">
                <!-- Programme detail -->
                <section id="programme-detail--{{ key }}" class="programme-detail modal" tabindex="-1">
                  <div class="modal-actions">
                    {% include '@modal-close' %}
                  </div>

                  <h2>{{ item.title }}</h2>
                  <h3>{{ item.subtitle }}</h3>

                  <div class="image-gallery-wrapper">
                    {% if item.images|length > 1 %}
                      {% include '@image-gallery--multiple' with {
                        "items": item.images
                      } %}
                    {% elseif item.images|length > 0  %}
                      {% include '@image-gallery' with item.images|first %}
                    {% endif %}
                  </div>

                  {% include '@paragraph' with {
                    'text': item.description
                  } %}

                </section>
                <div class="programme-detail-overlay"></div>
                <!-- /Programme detail -->

                <!-- Programme Item -->
                <article class="programme-item">
                  <!-- Content -->
                  <div class="programme-item__bottom">
                    <h3 id="uid_{{ key }}">{{ item.title }}</h3>
                    <span class="programme-item-subtitle">{{ item.subtitle }}</span>

                    <a href="javascript:void(0);" class="read-more standalone-link" aria-labelledby="uid_{{ key }}">read more</a>
                  </div>

                  <!-- Image -->
                  <div class="programme-item__top">
                    <div class="figure-wrapper">
                      <figure>
                        <div class="image-wrapper" data-ratio="8:5">
                          <img src="{{ item.images|first.src }}" alt="{{ item.images|first.alt }}">
                        </div>
                      </figure>
                      <div class="accolade-inverse bottom-left"></div>
                    </div>
                  </div>

                  <!-- Overlay Link -->
                  <a href="javascript:void(0);" class="programme-item-overlay-link modal-trigger"
                     tabindex="-1"
                     aria-hidden="true"
                     aria-expanded="false"
                     aria-controls="programme-detail--{{ key }}">{{ item.title }}</a>
                </article>
                <!-- /Programme Item -->
              </li>
            {% endfor %}

          </ul>
        </div>
      {% endfor %}

    </div>
  </dl>
</div>
