<div class="{{ type ~ (modifierWrapper ? ' ' ~ modifierWrapper : '') }}">
  {% if type == 'radio' or type == 'checkbox' %}
    <input type="{{ type }}" id="{{ id }}"
      {% if ariaDescribedBy %}
        aria-describedby="{{ ariaDescribedBy }}"
      {% endif %}
      {% if name %}
        name="{{ name }}"
      {% endif %}
      {% if value %}
          value="{{ value }}"
      {% endif %}
      {% if type %}
        class="{{ type ~ (modifier ? ' ' ~ modifier : '')  }}"
      {% endif %}
      {% if disabled %}
        disabled="disabled"
      {% endif %}
      {% if placeholder %}
        placeholder="{{ placeholder }}"
      {% endif %}
    />
    <label for="{{ id }}">{{ label }}</label>
  {% else %}
    <label for="{{ id }}">{{ label }}</label>
    <input type="{{ type }}" id="{{ id }}"
      {% if ariaDescribedBy %}
        aria-describedby="{{ ariaDescribedBy }}"
      {% endif %}
      {% if name %}
        name="{{ name }}"
      {% endif %}
      {% if type %}
          class="{{ type ~ (modifier ? ' ' ~ modifier : '')  }}"
      {% endif %}
      {% if disabled %}
        disabled="disabled"
      {% endif %}
      {% if placeholder %}
        placeholder="{{ placeholder }}"
      {% endif %}
    />
  {% endif %}
</div>


